<a href="https://colab.research.google.com/github/brunarigo/DS-project01-datasus-analysis/blob/main/Notebooks%5CProject01_Datasus_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
URL1 = 'https://raw.githubusercontent.com/brunarigo/DS-project01-datasus-analysis/main/Data/A170947189_28_143_208_ABCLocInt.csv'
URL2 = 'https://raw.githubusercontent.com/brunarigo/DS-project01-datasus-analysis/main/Data/A171230189_28_143_208_ABCLocRes.csv'

In [7]:
dados_local_internacao = pd.read_csv(URL1, encoding='ISO-8859-1', sep=';')
dados_local_internacao

                      Município 2019/Fev  ...    2021/Mar         Total
0                351380 Diadema        -  ...   449430,36   25421817,04
1                   352940 Mauá        -  ...   359050,66   17873057,56
2         354330 Ribeirão Pires        -  ...   112182,93    2357573,96
3            354780 Santo André  3330,83  ...   624085,28   51239064,00
4  354870 São Bernardo do Campo        -  ...  4950623,34   92637168,89
5     354880 São Caetano do Sul        -  ...           -   17014275,04
6                         Total  3330,83  ...  6495372,57  206542956,49

[7 rows x 27 columns]

In [8]:
dados_local_residencia = pd.read_csv(URL2, encoding='ISO-8859-1', sep=';')
dados_local_residencia

                      Município 2019/Mar  ...    2021/Mar         Total
0                351380 Diadema        -  ...   845460,97   30465815,86
1                   352940 Mauá        -  ...   529343,37   25641080,49
2         354330 Ribeirão Pires        -  ...   209522,10    5409082,01
3    354410 Rio Grande da Serra        -  ...    42324,35    2100822,25
4            354780 Santo André  3294,57  ...   896510,90   56473371,73
5  354870 São Bernardo do Campo        -  ...  4880493,23   85579237,74
6     354880 São Caetano do Sul        -  ...    29568,17   17398154,30
7                         Total  3294,57  ...  7433223,09  223067564,38

[8 rows x 26 columns]